In [1]:
import pandas as pd

In [2]:
airlineRoutes = pd.read_csv("USAirlinesRoutes.csv")

/var/folders/7h/cd9tnnys5h99grlb0130fvs80000gn/T/ipykernel_46775/2986945377.py:1: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  airlineRoutes = pd.read_csv("USAirlinesRoutes.csv")

In [17]:
airlineRoutes.head(1)

,Year,quarter,city1,city2,airport_1,airport_2,nsmiles,passengers,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2
5919,2010,1,"Salt Lake City, UT","Tampa, FL (Metropolitan Area)",SLC,TPA,1887,200,226.59,DL,0.38,247.69,US,0.2,166.99,"Salt Lake City, UT\n(40.758478, -111.888142)","Tampa, FL (Metropolitan Area)\n(37.8606, -78.8..."

In [4]:
pd.set_option('display.max_rows', 25)

In [5]:
airlineRoutes.dropna(inplace=True)

In [7]:
airlineRoutes.dtypes

tbl                object
Year                int64
quarter             int64
citymarketid_1      int64
citymarketid_2      int64
city1              object
city2              object
airportid_1         int64
airportid_2         int64
airport_1          object
airport_2          object
nsmiles             int64
passengers          int64
fare              float64
carrier_lg         object
large_ms          float64
fare_lg           float64
carrier_low        object
lf_ms             float64
fare_low          float64
Geocoded_City1     object
Geocoded_City2     object
tbl1apk            object
dtype: object

In [8]:
airlineRoutes

,tbl,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,...,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2,tbl1apk
5919,Table 1a,2010,1,34614,33195,"Salt Lake City, UT","Tampa, FL (Metropolitan Area)",14869,15304,SLC,...,226.59,DL,0.3800,247.69,US,0.2000,166.99,"Salt Lake City, UT\n(40.758478, -111.888142)","Tampa, FL (Metropolitan Area)\n(37.8606, -78.8...",201011486915304SLCTPA
5920,Table 1a,1998,4,30189,31703,"Colorado Springs, CO","New York City, NY (Metropolitan Area)",11109,12197,COS,...,280.39,UA,0.7300,292.60,NW,0.2400,248.27,"Colorado Springs, CO\n(38.835224, -104.819798)","New York City, NY (Metropolitan Area)\n(40.123...",199841110912197COSHPN
5921,Table 1a,1998,4,30198,30852,"Pittsburgh, PA","Washington, DC (Metropolitan Area)",14122,10821,PIT,...,239.12,US,0.9300,245.70,CO,0.0300,71.30,"Pittsburgh, PA\n(40.442169, -79.994945)","Washington, DC (Metropolitan Area)\n(38.892062...",199841412210821PITBWI
5922,Table 1a,2009,3,32211,32575,"Las Vegas, NV","Los Angeles, CA (Metropolitan Area)",12889,14908,LAS,...,111.74,WN,0.5800,118.28,US,0.4100,102.75,"Las Vegas, NV\n(36.169202, -115.140597)","Los Angeles, CA (Metropolitan Area)\n(34.05223...",200931288914908LASSNA
5923,Table 1a,1993,4,30255,30852,"Huntsville, AL","Washington, DC (Metropolitan Area)",12217,12264,HSV,...,242.76,DL,0.4800,275.50,UA,0.2500,197.69,"Huntsville, AL\n(34.729538, -86.585283)","Washington, DC (Metropolitan Area)\n(38.892062...",199341221712264HSVIAD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222938,Table1a,2020,2,35412,33195,"Knoxville, TN","Tampa, FL (Metropolitan Area)",15412,15304,TYS,...,210.13,AA,0.9014,197.87,AA,0.9014,197.87,"(35.962631, -83.916677)","(37.8606, -78.804199)",202021541215304TYSTPA
222939,Table1a,2020,2,31834,32575,"Fayetteville, AR","Los Angeles, CA (Metropolitan Area)",15919,10800,XNA,...,252.00,AA,1.0000,252.00,AA,1.0000,252.00,"(36.061928, -94.160583)","(34.052238, -118.243344)",202021591910800XNABUR
222940,Table1a,2020,2,31834,32575,"Fayetteville, AR","Los Angeles, CA (Metropolitan Area)",15919,12892,XNA,...,203.58,G4,0.5610,90.05,G4,0.5610,90.05,"(36.061928, -94.160583)","(34.052238, -118.243344)",202021591912892XNALAX
222941,Table1a,2020,2,31834,32575,"Fayetteville, AR","Los Angeles, CA (Metropolitan Area)",15919,13891,XNA,...,191.61,AA,0.9683,191.31,AA,0.9683,191.31,"(36.061928, -94.160583)","(34.052238, -118.243344)",202021591913891XNAONT
222942,Table1a,2020,2,31834,32575,"Fayetteville, AR","Los Angeles, CA (Metropolitan Area)",15919,14908,XNA,...,189.67,AA,0.8364,182.75,AA,0.8364,182.75,"(36.061928, -94.160583)","(34.052238, -118.243344)",202021591914908XNASNA

In [15]:
del airlineRoutes['tbl1apk']

In [16]:
airlineRoutes

,Year,quarter,city1,city2,airport_1,airport_2,nsmiles,passengers,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low,Geocoded_City1,Geocoded_City2
5919,2010,1,"Salt Lake City, UT","Tampa, FL (Metropolitan Area)",SLC,TPA,1887,200,226.59,DL,0.3800,247.69,US,0.2000,166.99,"Salt Lake City, UT\n(40.758478, -111.888142)","Tampa, FL (Metropolitan Area)\n(37.8606, -78.8..."
5920,1998,4,"Colorado Springs, CO","New York City, NY (Metropolitan Area)",COS,HPN,1678,5,280.39,UA,0.7300,292.60,NW,0.2400,248.27,"Colorado Springs, CO\n(38.835224, -104.819798)","New York City, NY (Metropolitan Area)\n(40.123..."
5921,1998,4,"Pittsburgh, PA","Washington, DC (Metropolitan Area)",PIT,BWI,210,152,239.12,US,0.9300,245.70,CO,0.0300,71.30,"Pittsburgh, PA\n(40.442169, -79.994945)","Washington, DC (Metropolitan Area)\n(38.892062..."
5922,2009,3,"Las Vegas, NV","Los Angeles, CA (Metropolitan Area)",LAS,SNA,236,1096,111.74,WN,0.5800,118.28,US,0.4100,102.75,"Las Vegas, NV\n(36.169202, -115.140597)","Los Angeles, CA (Metropolitan Area)\n(34.05223..."
5923,1993,4,"Huntsville, AL","Washington, DC (Metropolitan Area)",HSV,IAD,640,21,242.76,DL,0.4800,275.50,UA,0.2500,197.69,"Huntsville, AL\n(34.729538, -86.585283)","Washington, DC (Metropolitan Area)\n(38.892062..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222938,2020,2,"Knoxville, TN","Tampa, FL (Metropolitan Area)",TYS,TPA,550,8,210.13,AA,0.9014,197.87,AA,0.9014,197.87,"(35.962631, -83.916677)","(37.8606, -78.804199)"
222939,2020,2,"Fayetteville, AR","Los Angeles, CA (Metropolitan Area)",XNA,BUR,1371,0,252.00,AA,1.0000,252.00,AA,1.0000,252.00,"(36.061928, -94.160583)","(34.052238, -118.243344)"
222940,2020,2,"Fayetteville, AR","Los Angeles, CA (Metropolitan Area)",XNA,LAX,1371,18,203.58,G4,0.5610,90.05,G4,0.5610,90.05,"(36.061928, -94.160583)","(34.052238, -118.243344)"
222941,2020,2,"Fayetteville, AR","Los Angeles, CA (Metropolitan Area)",XNA,ONT,1371,7,191.61,AA,0.9683,191.31,AA,0.9683,191.31,"(36.061928, -94.160583)","(34.052238, -118.243344)"
222942,2020,2,"Fayetteville, AR","Los Angeles, CA (Metropolitan Area)",XNA,SNA,1371,6,189.67,AA,0.8364,182.75,AA,0.8364,182.75,"(36.061928, -94.160583)","(34.052238, -118.243344)"